---
import Logo from "@svg/logo.svg"
import "@style/App.css"
---

<!-- Header -->
<header id="header">
    <!-- <h1>Skypier Technologies</h1> -->
    <img
    src={Logo}
    class="App-logo"
    alt="skypier logo"
  />

  <!-- <section id="sidebar">
    <div class="inner"> -->
    <nav>
        <ul>
            <li><a href="#intro">What's Skypier?</a></li>
            <li><a href="#solution">Why Skypier?</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>

