---
import Logo from "@svg/logo.svg"
---

<!-- Header -->
<!-- <header id="header">
</header> -->

<section id="sidebar">
    <div class="inner">
        <p><a href="/index.html" class="logo">
            <img
            src={Logo}
            class="App-logo-header"
            alt="skypier logo"
            style="padding-left: 1rem;"
            />			
        </a></p>
        <nav>
            <ul>
                <li><a href="#intro">What's Skypier?</a></li>
                <li><a href="#intention">Why Skypier?</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</section> 

