---
import Logo from "@svg/skypier_baseline.svg"
---

<section id="sidebar">
        <!-- <p><a href="/index.html" class="logo">
            <img
            src={Logo}
            class="App-logo-header"
            alt="skypier logo"
            style="padding-left: 1rem;"
            />			
        </a></p>
        <nav>
            <ul>
                <li><a href="#intro">What's Skypier?</a></li>
                <li><a href="#intention">Why Skypier?</a></li>
                <li><a href="#team">About us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav> -->
    <nav class="fixed w-full z-20 top-0 start-0">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-0">
            <a href="/index.html" class="logo-link">
                <img
                src={Logo}
                class="App-logo-header"
                alt="skypier logo"
                style="padding-left: 1rem;"
                />			
            </a>
            <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button type="button" class="text-gray-300 border-l-indigo-500 font-medium rounded-full text-xxs px-4 text-center">Get started</button>
                <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <ul>
                <li><a href="#intro">What's Skypier?</a></li>
                <li><a href="#intention">Why Skypier?</a></li>
                <li><a href="#team">About us</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section> 

