---
import Logo from "@svg/logo.svg"
import "@style/App.css"
---

<!-- Header -->
<header id="header">
    <section id="sidebar">
        <div class="inner">
            <img
                src={Logo}
                class="App-logo"
                alt="skypier logo"
            />
            <nav>
                <ul>
                    <li><a href="#intro">What's Skypier?</a></li>
                    <li><a href="#one">Why Skypier?</a></li>
                    <li><a href="#two">Team</a></li>
                    <li><a href="#three">Contact</a></li>
                </ul>
            </nav>
        </div>
    </section> 
</header>

