---
// Component imports
import { SEO } from "astro-seo"

// Style imports
import "@style/tailwind.css"

// Helper imports
import { seoConfig } from "@util/seoConfig"

// Props
export interface Props {
	/** Title of the page. */
	title: string

	/** Specific OpenGraph page title. */
	ogTitle?: string

	/** Description of the page. */
	description?: string

	/** Image thumbnail for the page. */
	image?: {
		url: string
		alt: string
	}

	/** Whether or not to disable indexing */
	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props
---

<html lang="en">
	<head>
		<!-- SEO. -->
		<SEO
			title={title}
			description={seoConfig.description || description}
			noindex={disableIndexing}
			nofollow={disableIndexing}
			openGraph={{
				basic: {
					title: ogTitle || title,
					type: "website",
					image: seoConfig.image.url || image.url
				},
				image: {
					width: seoConfig.image.width,
					height: seoConfig.image.height,
					alt: seoConfig.image.alt || image.alt
				},
				optional: {
					siteName: seoConfig.siteName,
					description: seoConfig.description || description
				}
			}}
			twitter={{
				card: seoConfig.twitter.card
			}}
		/>

		<!-- Global meta tags. -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Favicons. -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/favicons/favicon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/favicons/favicon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/favicons/favicon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/favicons/favicon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/favicons/favicon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/favicons/favicon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/favicons/favicon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/favicons/favicon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/favicon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicons/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/favicons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/favicons/favicon-192x192.png"
		/>
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/favicons/favicon.ico"
		/>
		<link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#30E130" />
		<meta
			name="msapplication-TileImage"
			content="/favicons/favicon-144x144.png"
		/>
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<meta name="theme-color" content="#30E130" />

		<!-- Service worker registration. -->

		<script is:inline src="/registerSW.js"></script>
		<link rel="manifest" href="/manifest.webmanifest" />
	</head>
	<body class="min-h-screen flex flex-col w-full overflow-x-hidden">
		<main class="flex flex-1 flex-col h-[100%] w-full">
			<slot />
		</main>

		<script>
			// This is a hack to get vite-plugin-pwa to generate a sw.js file.
			// Do not remove this script tag.
		</script>
	</body>
</html>
