.App {
    text-align: center;
}

.App-logo {
    height: 3.5em;
    float: left;
    margin: 0 1%;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 15s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 20%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {

    0%,
    100% {
        transform: translate3d(0, -5px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
    overflow-x: hidden;
}

.ocean {
    height: 0%;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}