---
// Component imports
import { Layout, Footer, Header } from "@globals"
import "@style/index.css"
import reportWebVitals from "@component/reportWebVitals"
import Logo from "@svg/logo.svg"
import "@style/App.css"

import { css } from "@style"
import "@component/js"


const title = 'Skypier Technologies';
const description = 'Privacy Stack for Web3 Hybrid Cloud';
---

<Layout {title} {description}>	

  <Header />

  <body>
    <span id="warning-container"><i data-reactroot=""></i></span
    ><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="App">
        <header class="App-header">
          <img
            src={Logo}
            class="App-logo"
            alt="skypier logo"
          />
          <p>Skypier - The future of Web3 Hybrid Cloud, Privacy Stack.</p>
          <a
            class="App-link"
            href="https://skypier.io"
            target="_blank"
            rel="noopener noreferrer"
            >See Demo</a
          >
        </header>
      </div>
    </div>
  </body>
  
  <Footer />

  <!-- Scripts -->
  <!-- <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script> -->

  <script>
	  reportWebVitals();
  </script>
</Layout>
