---
// Component imports
import { Layout } from "@globals"
import logo from './logo.svg';
import './App.css';
---

<Layout title="Skypier Technologies">	
	<div className="App">
      <header className="App-header">
        <img src={logo} className="App-logo" alt="logo" />
        <p>
          We're currently building SkyPier, the future of web3 VPN.
        </p>
        <a
          className="App-link"
          href="https://skypier.io"
          target="_blank"
          rel="noopener noreferrer"
        >
          Whitepaper
        </a>
        <div className="ocean">
          <div className="wave"></div>
          <div className="wave"></div>
        </div>
      </header>
    </div>
</Layout>
