<!-- Intro -->
    <!-- <section id="intro" class="wrapper style1 fullscreen fade-up"> -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1>Skypier</h1>
            <p>The future of Decentralized Hybrid Cloud, Privacy Stack.</p>
            <ul class="actions">
                <li><a href="https://skypier.io"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="button scrolly">Demo</a>
                </li>
                <li><a href="#contact" class="button scrolly">Contact</a></li>
            </ul>
        </div>
    </section>

<!-- One -->
    <section id="intention" class="wrapper style2 spotlights">
        <section>
            <!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
            <div class="content">
                <div class="inner">
                    <h2>Problems</h2>
                    <ul>
                        <li>Centralized Network Providers could be a single point of failure if they are compromised by bad actors</li>
                        <li>Centralized Network Providers are often closed-source with a false sense of security</li>
                        <li>Existing decentralized solutions require Partners to earn in their company's cryptocurrency</li>
                    </ul>
                    <ul class="actions">
                        <!-- <li><a href="generic.html" class="button">Learn more</a></li> -->
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a> -->
            <div class="content">
                <div class="inner">
                    <h2>Solutions</h2>
                    <ul>
                        <li>Any with internet access to be our Partner as a Node Host and earn in their preferred currency</li>
                        <li>each node operates independently to compartmentalize information through our network</li>
                        <li>We are completely open-sourced, allowing anyone to inspect and provide feedback to improve our infrastructure, UX, and security</li>
                        <li>Multiple independent nodes allows us to have competitive pricing without compromising quality</li>
                    </ul>
                    <ul class="actions">
                        <!-- <li><a href="generic.html" class="button">Learn more</a></li> -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- <section>
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Ultricies aliquam</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section> -->

<!-- Two -->
    <section id="team" class="wrapper style3 fade-up">
        <div class="inner">
            <h2>Who are we?</h2>
            <p>Our team are made up of product leaders, engineers, and developers Palantir, French Military, Akamai Technologies and Lucid Motors. We have a track-record of creating mission-critical decentralized security products for mission critical organizations and we have the partnerships and resources to help you build your own decentralized network.</p>
            <!-- <div class="features">
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Lorem ipsum amet</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-lock"></span>
                    <h3>Aliquam sed nullam</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-cog"></span>
                    <h3>Sed erat ullam corper</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-desktop"></span>
                    <h3>Veroeros quis lorem</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-link"></span>
                    <h3>Urna quis bibendum</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon major fa-gem"></span>
                    <h3>Aliquam urna dapibus</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
            </div>
            <ul class="actions">
                <li><a href="generic.html" class="button">Learn more</a></li>
            </ul>
        </div> -->
    </section>
