---
import Logo from "@svg/logo.svg"
---

<!-- Intro -->
    <!-- <section id="intro" class="wrapper style1 fullscreen fade-up"> -->
    <section id="intro" class="wrapper fullscreen fade-up">
        <div class="inner">
            <div class="container">
                <div class="md:flex">
                  <div class="md:shrink-0">
                    <img
                    src={Logo}
                    class="App-logo"
                    alt="skypier logo"
                    style="height: 25vh;"
                    />
                  </div>
                  <div class="p-8 m-auto">
                      <h1 class="text-gray-100 text-5xl">
                          Embark securely on <span class="highlight-text">web3</span>
                      </h1>
                      <h2 class="text-gray-400 text-3xl">
                          The future of Decentralized
                          Hybrid Cloud and Privacy Stack.
                      </h2>
                  </div>
                </div>
            </div>
            <div class="glassed-container">
                <p>
                    Skypier is the gateway that empowers people to express and explore anonymously without compromising their privacy or quality of access. 
                    Our Token Gated decentralized Network is a subscription based peer-to-peer VPN that enable anyone to create their own hybrid cloud. 
                </p>
                <ul class="actions">
                    <li><a href="https://skypier.io"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="button scrolly">Demo</a>
                    </li>
                    <li><a href="#contact" class="button scrolly">Contact</a></li>
                </ul>
               
            </div>
            <div class="container">
                <form action="action_page.php">
                    <h2>Join the waitlist today:</h2>
                    <div style="max-width:550px; display:flex;">
                      <input type="text" placeholder="Email address" name="mail" required>
                      <pre>    </pre>
                      <input type="submit" value="Join!">
                    </div>
                </form>
            </div>
        </div>
    </section>

<!-- One -->
    <section id="intention" class="wrapper style5 spotlights">
        <section>
            <!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
            <div class="content container">
                <div class="inner">
                    <h2>Problems</h2>
                    <div class="glassed-container">
                        <ul>
                            <li>Centralized Network Providers could be a single point of failure if they are compromised by bad actors</li>
                            <li>Centralized Network Providers are often closed-source with a false sense of security</li>
                            <li>Existing decentralized solutions require Partners to earn in their company's cryptocurrency</li>
                        </ul>
                        <ul class="actions">
                            <!-- <li><a href="generic.html" class="button">Learn more</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a> -->
            <div class="content container">
                <div class="inner">
                    <h2>Solutions</h2>
                    <div class="glassed-container">
                        <ul>
                            <li>Any with internet access to be our Partner as a Node Host and earn in their preferred currency</li>
                            <li>each node operates independently to compartmentalize information through our network</li>
                            <li>We are completely open-sourced, allowing anyone to inspect and provide feedback to improve our infrastructure, UX, and security</li>
                            <li>Multiple independent nodes allows us to have competitive pricing without compromising quality</li>
                        </ul>
                        <ul class="actions">
                            <!-- <li><a href="generic.html" class="button">Learn more</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section>
            <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
            <div class="content">
                <div class="inner">
                    <h2>Ultricies aliquam</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section> -->

<!-- Two -->
    <section id="team" class="wrapper style1">
        <div class="inner">
            
            <div class="container">
                <h1>About us</h1>
            </div>
            <div class="gradient-container drop-shadow-md">
                <p>Our team are made up of product leaders, engineers, and developers Palantir, French Military, Akamai Technologies and Lucid Motors. We have a track-record of creating mission-critical decentralized security products for mission critical organizations and we have the partnerships and resources to help you build your own decentralized network.</p>               
            </div>
            <div class="container">
                <ul>
                    <li class="flex gap-x-6 py-2 px-8">
                        <div class="flex min-w-0 gap-x-4">
                          <img class="grayscale hover:grayscale-0 h-24 w-24 overflow-hidden rounded-full ring-2 ring-gray-700 dark:ring-gray-100" src="https://media.licdn.com/dms/image/C4E03AQGsux9W87inqg/profile-displayphoto-shrink_800_800/0/1660938816326?e=1712188800&v=beta&t=tvF3lHJZe1a-ux8OUw9dQ7jAA6cIuI7ttu3KCjxtWX0" alt="avatar">
                          <div class="min-w-0 flex-auto pt-4">
                            <p class="text-xl font-semibold leading-6 text-gray-50 mb-1">Ting Lik To</p>
                            <p class="truncate text-lg leading-1 text-gray-500">
                                <a href="https://www.linkedin.com/in/tinglik/" target="_blank" rel="noopener noreferrer">
                                  <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/tinglik/" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-github"></i>
                                </a>
                            </p>
                          </div>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end pt-4">
                          <p class="text-sm leading-6 text-gray-550">CEO</p>
                        </div>
                      </li>
                      <li class="flex gap-x-6 py-2 px-8">
                        <div class="flex min-w-0 gap-x-4">
                          <img class="grayscale hover:grayscale-0 h-24 w-24 overflow-hidden rounded-full ring-2 ring-gray-700 dark:ring-gray-100" src="https://avatars.githubusercontent.com/u/62996031?v=4" alt="avatar">
                          <div class="min-w-0 flex-auto pt-4">
                            <p class="text-xl font-semibold text-gray-50 mb-1">Smolgroot</p>
                            <p class="truncate text-lg leading-1 text-gray-500">
                                <a href="https://x.com/rootshe11" target="_blank" rel="noopener noreferrer">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://github.com/smolgroot" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-github"></i>
                                </a>
                            </p>
                          </div>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end pt-4">
                          <p class="text-sm leading-6 text-gray-550">CTO</p>
                        </div>
                      </li>
                      <li class="flex gap-x-6 py-2 px-8">
                        <div class="flex min-w-0 gap-x-4">
                          <img class="grayscale hover:grayscale-0 h-24 w-24 overflow-hidden rounded-full ring-2 ring-gray-700 dark:ring-gray-100" src="https://media.licdn.com/dms/image/C4E03AQEDBp0dRDnHsQ/profile-displayphoto-shrink_800_800/0/1517533602354?e=1712188800&v=beta&t=oxpVATUdPc9BPNj33IMY_AS1yKT5X_3-9H14JNlf2uA" alt="avatar">
                          <div class="min-w-0 flex-auto pt-4">
                            <p class="text-xl font-semibold leading-6 text-gray-50 mb-1">Luis Saldarriaga</p>
                            <p class="truncate text-lg leading-1 text-gray-500">
                                  <a href="https://www.linkedin.com/in/luis-saldarriaga-0573a5a9/" target="_blank" rel="noopener noreferrer">
                                  <i class="fab fa-linkedin"></i>
                              </a>
                            </p>
                          </div>
                        </div>
                        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end pt-4">
                          <p class="text-sm leading-6 text-gray-550">Founding Engineer</p>
                        </div>
                      </li>
                        
                  </ul>
            </div> 
            <!-- <div class="features">
                <section>
                    <span class="icon solid major fa-code"></span>
                    <h3>Lorem ipsum amet</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-lock"></span>
                    <h3>Aliquam sed nullam</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-cog"></span>
                    <h3>Sed erat ullam corper</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-desktop"></span>
                    <h3>Veroeros quis lorem</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon solid major fa-link"></span>
                    <h3>Urna quis bibendum</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
                <section>
                    <span class="icon major fa-gem"></span>
                    <h3>Aliquam urna dapibus</h3>
                    <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                </section>
            </div>
            <ul class="actions">
                <li><a href="generic.html" class="button">Learn more</a></li>
            </ul>
        </div> -->
    </section>
