<!-- Contact -->
    <section id="contact" class="wrapper style1 fade-up">
        <div class="inner" style="padding-bottom: 200px;">
            <h2>Get in touch</h2>
            <p>Please don't hesitate to send us a message if you want to learn more about our products!</p>
            <!-- <div class="split style1"> -->
                <section>
                    <form 
                    oninput="subject.value = purpose.value + ' New submission'" 
                    method="POST" action="https://formspree.io/f/xdoqaozn">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" />
                            </div>
                            <div class="field half">
                                <label for="email">Purpose</label>
                                <select name="purpose" id="purpose">
                                    <option value="[Invest]">Investment Inquiry</option>
                                    <option value="[Partner]">Partner Support</option>
                                    <option value="[Customer]">Customer Support</option>
                                    <option value="[Other]">Other</option>
                                </select>
                            </div>
                            <div class="field">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="5"></textarea>
                            </div>
                        </div>

                        <!-- your other form fields go here -->
                        <button type="submit">Send Message</button>

                        <!-- <ul class="actions">
                            <li><a href="" class="button submit">Send Message</a></li>
                        </ul> -->
                    </form>
                </section>
                <!-- <section>
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <span>421 8th Ave<br />
                            New York, NY 10116<br />
                            USA</span>
                        </li>
                        <li>
                            <h3>Email</h3>
                            <a href="mailto:info@skypier.io">info@skypier.io</a>
                        </li>
                        <li>
                            <h3>Phone</h3>
                            <span>(917) 000-0000</span>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="https://twitter.com/SkypierIO" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                <li><a href="https://github.com/SkyPierIO" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="https://www.linkedin.com/company/Skypier" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section> -->
            <!-- </div> -->
        </div>
    </section>
