<!-- Header -->
<header id="header">
    <h1>Ting</h1>
    <nav>
        <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#invest">Investor</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>