---
import "@style/App.css"
---

<!-- Wave -->
<!-- <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div> -->

<!-- Footer -->
<footer id="footer" class="wrapper style5">
    <div class="inner">
        <ul class="menu">
            <div class="section-block">
                <span>© 2024 Skypier Technologies</span>
                    <span><a href="mailto:info@skypier.io">info@skypier.io</a></span>
                    <span>|</span>
                    <span><a href="/terms-of-service">Terms of Service</a><span>
                    <span>|</span>
                    <span><a class="privacy-policy-link" href="/privacy-policy/" rel="privacy-policy">Privacy Policy</a><span>
            <div class="footer-social" style="display: inline-block; float: right; font-size: 1.5em;">
                    <a href="https://twitter.com/SkypierIO" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://github.com/SkyPierIO" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/Skypier" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>    
        </ul>
    </div>
</footer>
