---
import "@style/App.css"
---

<!-- Wave -->
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
    <div class="inner">
        <ul class="menu">
            <div class="section-block">
                <span>© 2024 Skypier IO</span>
                    <span><a href="mailto:info@skypier.io">info@skypier.io</a></span>
                    <span>|</span>
                    <span><a href="https://skypier.io/terms-of-service">Terms of Service</a><span>
                    <span>|</span>
                    <span><a class="privacy-policy-link" href="https://skypier.io/privacy-policy/" rel="privacy-policy">Privacy Policy</a><span>
            <div class="footer-social">
                    <a href="https://twitter.com/SkypierIO" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://github.com/SkyPierIO" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/Skypier" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>    
        </ul>
    </div>
</footer>
